// Breakpoint mixin
@mixin breakpoint($break) {
	@media screen and (min-width:$break) {
		@content;
	}
}

// Start Of what we would add to your project

// Default variables, easily overwritten
$xxs: 360px !default;
$xs: 480px !default;
$s: 550px !default; 
$sm: 600px !default;
$m: 768px!default;
$ml: 960px !default;
$l: 1024px !default;
$xl: 1200px !default;
$xxl: 1400px !default; 


// Breakpoints you plan on using for the grid system
$breakpointsUsedForGrid:
  "s" $s,
  "m" $m,
  "l" $l;

// Comments out to test css variables instead
// $gutter-gap: 15px !default;

// CSS Variable
// NOTE: You can not add SCSS variables to CSS variables, however you can use CSS variables in SCSS mixins
:root {
    --fs-spacing-col: 15px;
    --fs-spacing-row: 15px;
}



// Importing the mixings for flexbox
// In this example I am backing out to the root of the github folder structure and grabbing the files from the dist folder
@import "../../dist/_flexspan-grid-mixins", "../../dist/_flexspan-grid-classes";
